@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --font-1: 'Roboto', sans-serif;
    --font-2: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(120deg, rgb(57, 0, 63), skyblue, white);
    overflow: hidden;
}

header .animation {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header .animation h1 {
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgb(206, 88, 88);
    transform: rotate(75deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: ani1 50s linear infinite;
}

header .animation h2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    background: rgb(107, 199, 79);
    transform: rotate(150deg);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    animation: ani2 50s linear infinite;
}

header .animation h3 {
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 4px solid #fff;
    border-radius: 50px;
    animation: ani3 50s linear infinite;
}

header .animation h4 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: yellowgreen;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    animation: ani4 50s linear infinite;
}

header .header {
    position: relative;
    width: 80%;
    height: 95%;
    flex-direction: column;
    z-index: 2;
}

header .header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(156, 156, 156, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: -1;
}

header .header .start {
    height: 15%;
}

header .header .start .logo {
    width: 20%;
    padding-left: 40px;
}

header .header .start .logo span {
    color: #fff;
    padding: 5px 6px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 13px;
    font-family: var(--font-1);
}

header .header .start .logo .logo-span-first {
    color: skyblue;
}

header .header .start .input {
    width: 60%;
    text-align: center;
}

header .header .start .input input {
    width: 80%;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 2px 0px 5px 0px gray, 3px 5px 4px 0px gray, inset 0px 3px 6px 0px grey, inset 3px 0px 6px 0px grey;
}

header .header .start .input button {
    background: none;
    border: none;
    outline: none;
    width: 30px;
    height: 28px;
}

header .header .start .input button .fa {
    color: #fff;
    font-size: 20px;
}

header .header .start .menu {
    width: 20%;
    height: 30px;
    padding-right: 40px;
    justify-content: flex-end;
    color: #fff;
}

header .header .start .menu:hover {
    cursor: pointer;
}

header .header .start .menu span {
    width: 5px;
    height: 5px;
    margin: 1px;
    border-radius: 10px;
    background: #fff;
}

header .header .start .menu span:nth-child(1) {
    position: relative;
    animation: menuspan 1s linear infinite;
}

header .header .start .menu span:nth-child(2) {
    position: relative;
    animation: menuspan 1s linear infinite;
    animation-delay: 0.3s;
}

header .header .start .menu span:nth-child(3) {
    position: relative;
    animation: menuspan 1s linear infinite;
    animation-delay: 0.7s;
}

header .header .start .menu:hover .menu-list {
    transform: translateX(0%);
    opacity: 1;
    animation-delay: 1s;
}

header .header .start .menu .menu-list {
    position: absolute;
    width: 200px;
    height: 200px;
    /* background: red;/ */
    right: 0px;
    top: 30%;
    transform: translateX(200%);
    transition: all 0.6s ease-in-out;
    opacity: 0;
}

header .header .start .menu .menu-list ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
}

header .header .start .menu .menu-list ul li {
    position: relative;
    padding: 5px 0px;
    margin: 5px 0px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}


/* header .header .start .menu .menu-list ul li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 15px 0px 0px 15px;
    z-index: -1;
} */

header .header .start .menu .menu-list ul li a {
    margin: 5px 0px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

header .header .start .menu .menu-list ul li a:hover {
    color: gray;
}

header .header .mid {
    height: 75%;
    flex-wrap: wrap-reverse;
}

header .header .mid .content {
    width: 50%;
    padding-left: 13%;
}

header .header .mid .content h3 {
    font-size: 20px;
    font-family: var(--font-1);
    padding-bottom: 10px;
    color: #fff;
}

header .header .mid .content h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-1);
    padding-bottom: 15px;
    color: #fff;
}

header .header .mid .content p {
    font-size: 20px;
    font-weight: lighter;
    font-family: var(--font-1);
    padding-bottom: 34px;
    color: #fff;
}

header .header .mid .content .btn {
    justify-content: flex-start;
}

header .header .mid .content .btn button {
    padding: 8px 20px;
    background: #fff;
    border-radius: 20px;
    color: gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
    box-shadow: 2px 0px 5px 0px grey, 3px 5px 4px 0px grey, inset 0px 3px 6px 0px grey, inset 3px 0px 6px 0px grey;
}

header .header .mid .content .btn button:hover {
    box-shadow: 0px 0px 0px 0px grey, 0px 0px 0px 0px grey, inset 2px 3px 2px 0px grey, inset 4px 2px 2px 0px grey;
}

header .header .mid .content .btn button:nth-child(2) {
    margin-left: 10px;
}

header .header .mid .img {
    width: 50%;
}

header .header .mid .img img {
    width: 60%;
}

header .header .end {
    height: 10%;
    /* border: 1px solid red; */
}

header .header .end .social {
    width: 20%;
    /* border: 1px solid red; */
    justify-content: flex-start;
    margin-left: 30px;
}

header .header .end .social a {
    color: #fff;
    padding: 5px;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

header .header .end .social a:hover {
    color: gray;
}

header .header .end .mid {
    width: 60%;
    /* border: 1px solid red; */
}

header .header .end .last {
    width: 20%;
    height: 30px;
    /* border: 1px solid red; */
}

header .header .end .mid h2 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 10px;
    background: #fff;
    margin-top: 1px;
    position: absolute;
    animation: ballani1 5s linear forwards;
}

header .header .end .mid h1 {
    width: 80%;
    height: 1px;
    background: #fff;
}

header .header .end .mid h3 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 10px;
    background: #fff;
    margin-top: 1px;
    position: absolute;
    animation: ballani2 5s linear forwards;
}

header .header .end .last .main-last-first {
    animation: lastfirst 1.8s linear infinite;
}

header .header .end .last .main-last-first .last-fist h3 {
    background: #fff;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    margin: 3px;
}